
@import variables

.tile
  width: 50px
  height: 50px
  float: left
  background-color: $grass

.tile.tile--odd
  background-color: $grassOdd

.tile--small-area
  background-color: $smallArea

.tile--big-area
  background-color: $bigArea

.tile--goal
  background-color: $goal

.tile--blank
  background-color: $blank

.tile--odd
  &.tile--small-area
    background-color: $smallAreaOdd

  &.tile--big-area
    background-color: $bigAreaOdd

  &.tile--goal
    background-color: $goalOdd

  &.tile--blank
    background-color: $blank

.tile--special::before
  content: '·'
  text-align: center
  font-size: 3em
  width: 100%
  color: white
  display: inline-block
